
body {
	background: @background;
	color: @text-default;
	font-family: 'Noto Sans', Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	color: @text-h1;
}

a {
	color: @text-highlight;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

svg{
	max-width: 100%;
}
